@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}